/* Ensure all links are colored #006633 */
a,
a:visited,
.prev-next-area a p.prev-next-title,
.toc-entry a.nav-link:hover,
.toc-entry a.nav-link.active,
nav.bd-links .active:hover > a,
nav.bd-links .active:focus > a,
nav.bd-links .active > a,
nav.bd-links li > a:hover,
nav.bd-links li > a:focus {
  color: #006633; /* Default link color */
}

a:hover {
  color: #004d00; /* Dark green on hover */
  text-decoration: underline; /* Underline on hover */
}

a:active {
  color: #006633; /* Same as default link color on active state (when clicked) */
}

code.literal {
  background-color: #ADFFAD;
  color: #333a42;
  border: 1px solid #006633;
}

.logo__image {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #006633;
}

@media (min-width: 992px) {
  .bd-sidebar-secondary {
    height: 100vh;
    max-height: none;
  }

  .bd-sidebar-secondary .sidebar-secondary-items {
    height: 100%;
  }
}

/* Add a custom background color for specific section */
.custom-bg-color {
  background-color: #ADFFAD; /* Change this to the desired background color */
  padding: 10px;
  border-radius: 5px;
}